@import '../../styles/settings.scss';

.hidden {
   color: greenyellow;
   font-size: 22px;
   position: fixed;
   width: 250px;
   background: black;
   transition: all 0.25s ease;
   z-index: 99;

   ul {
      li {
         list-style: none;
         display: flex;
         flex-direction: column;
         text-align: center;
         margin-right: 30px;
         margin-left: -22px;
         transition: .4s;
         border-radius: 5px;
         text-align: justify;
         padding: 5px;
         width: 100%;

         &:hover {
            background-color: lightslategray;
         }

         &:last-child {
            color: orange;
            margin-top: 30px;
            text-align: center;

            &:hover {
               color: red;
               background-color: black;
               font-size: 18px;
            }
         }
      }

      div {
         font-size: 10px;
      }
   }
}


.show {
   color: blue;
   font-size: 22px;
   width: 22px;
   position: fixed;

   ul {
      display: none;
   }
}

nav {
   &.inactive {
      transform: none;
      transition: transform 30ms;
      transition: all 0.25s ease;
      background: black;
      height: 100vh;
      width: 250px;
      color: white;
   }

   &.active {
      transform: translateX(-100%);
      transition: all 0.25s ease;
   }
}